<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>SubtitleBurner</string>
  <key>CFBundleIdentifier</key>
  <string>local.subtitleburner</string>
  <key>CFBundleName</key>
  <string>Subtitle Burner</string>
  <key>CFBundleDisplayName</key>
  <string>Subtitle Burner</string>
  <key>CFBundleIconFile</key>
  <string>SubtitleBurnerIcon</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>NSHighResolutionCapable</key>
  <true/>
</dict>
</plist>
